package ${basePackage}.mp

import com.baomidou.mybatisplus.extension.plugins.OptimisticLockerInterceptor
import com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor
import org.springframework.context.annotation.Bean
import org.springframework.context.annotation.Configuration


@Configuration
class MybatisPlusConfig {

    /**
     * 分页插件
     */
    @Bean
    fun paginationInterceptor(): PaginationInterceptor {
        return PaginationInterceptor()
    }

    /**
     * SQL执行效率插件
     */
    @Bean
    @Profile("dev", "test") // 设置 dev test 环境开启
    fun optimisticLockerInterceptor(): OptimisticLockerInterceptor {
        return OptimisticLockerInterceptor()
    }
}