package ${basePackage}.core.interceptor

import com.alibaba.fastjson.JSON
import ${basePackage}.core.enums.ResultCodeEnum
import ${basePackage}.core.result.BaseResponse
import org.slf4j.LoggerFactory
import org.springframework.web.servlet.HandlerInterceptor
import org.springframework.web.servlet.ModelAndView
import java.io.IOException
import java.io.PrintWriter
import javax.servlet.http.HttpServletRequest
import javax.servlet.http.HttpServletResponse

/**
 * 作者：Monkey
 * 日期：2017/7/18
 */
class AuthInterceptor : HandlerInterceptor {
    private val logger = LoggerFactory.getLogger(javaClass)

    override fun preHandle(req: HttpServletRequest, res: HttpServletResponse, obj: Any): Boolean {
        // todo 权限拦截

        return true
    }

    override fun postHandle(req: HttpServletRequest, res: HttpServletResponse, obj: Any, p3: ModelAndView?) {

    }

    override fun afterCompletion(req: HttpServletRequest, res: HttpServletResponse, obj: Any, p3: Exception?) {
    }

    private fun deny(response: HttpServletResponse) {
        response.contentType = "application/json;charset=utf-8"
        var writer: PrintWriter? = null
        try {
            writer = response.writer
            val result = BaseResponse.buildError(ResultCodeEnum.PERMISSION_DENIED_ERROR)
            writer!!.print(JSON.toJSON(result))
            writer.flush()
        } catch (e: IOException) {
            logger.error(e.message, e)
        } finally {
            writer?.close()
        }
    }
}