package ${package.Service}

#set($module = "service")
#if(${cfg[$module]["${table.serviceName}"]})
${cfg[$module]["${table.serviceName}"].import}
#else
import ${package.Entity}.${entity}
import com.monkey.base.mp.IMyService
#end

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 */
interface ${table.serviceName} : ${superServiceClass}<${entity}> {
//==== 自定义开始 ====
#if(${cfg[$module]["${table.serviceName}"]})
  ${cfg[$module]["${table.serviceName}"].content}
#end
//==== 自定义结束 ====
}