package ${basePackage}.core.enums

/**
 * Created by Monkey on 2017/6/20.
 */
enum class ResultCodeEnum(val code: Int, val msg: String) {
    SYSTEM_ERROR(-1, "未知错误"),
    SUCCESS(0, "操作成功"),
    PERMISSION_DENIED_ERROR(403, "您没有权限"),
    PARAMS_ERROR(500, "无效的参数"),
    DATA_DUPLICATE_ERROR(501, "数据重复错误"),
    METHOD_NOT_SUPPORT_ERROR(502, " 请求方式错误"),
    MEDIA_TYPE_NOT_SUPPORT_ERROR(503, " 不支持的媒体格式错误"),
}
