package ${basePackage}.core.cache


/**
 * @author Monkey
 * *
 * @Description: 定義cache名稱、超時時長（秒）、最大容量 <br></br>每个cache缺省：10秒超时、最多缓存50000条数据，需要修改可以在构造方法的参数中指定。
 * *
 * @date 2017年7月13日
 */
enum class CacheType(val ttl: Int = CacheConfig.DEFAULT_TTL,
                     val maxSize: Int = CacheConfig.DEFAULT_MAXSIZE) {
    ACCESS_TOKEN(2 * 60 * 60),
    PERPETUAL(0) //永久cache
    ;
}
